.mobileConsoleLight {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	&Content {
		height: 300px;
		overflow: hidden;
		overflow-y: scroll;
	}
	&.popuped {
		position: absolute;
		border-bottom: solid 1px #d8d8d8;
		border-left: solid 1px #d8d8d8;
		border-right: solid 1px #d8d8d8;
		.mobileConsoleLight {
			&Content {
				height: calc( 100% - 22px );
			}
		}
	}
}