.mobileConsoleLight {
	.array {
		color: #555;
		font-style: italic;
		.arrow {
			display: inline-block;
			padding-right: 5px;
			color: #727272;
			font-style: normal;
			font-size: 11px;
			&.down {
				transform: rotate(90deg) translateX(3px) translateY(3px);
			}
		}
		.text {
			color: #c41a16;
			&:before, &:after {
				content: '"'
			}
		}

		&Expand {
			font-style: normal;
			.arrayLine {
				padding: 2px 25px 0;
			}
		}
		&Length {
			.index {
				opacity: 0.5;
			}
		}
	}
}