.mobileConsoleLight {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: 30px;
	height: 300px;
    overflow: hidden;
    overflow-y: scroll;
	font-family: Menlo, monospace;
	font-size: 13px;
	cursor: default;
	

	.index {
		color: #881391;
	}
}